<div class='table'>
    <div class="table-header bg-color-accent">
        <span>{{ list.display_name }}</span>
        <i 
            [attr.data-table]='list.name'
            (click)='toggleShow($event)'
            class="fa fa-plus" 
            aria-hidden="true"></i>
    </div>

    <table [attr.id]='list.name' class='collapsible'>
        <thead>
            <tr>
                <th *ngFor="let column of list.column_names"> {{ column }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tooltip" 
                *ngFor="let row_item of list.row_data; index as i"
                (click)="editRow(row_item, i)"
                (mousemove)="positionTooltip($event)"
                (mouseleave)="removeTooltip()">

                <td *ngFor="let column of list.column_names; index as j; last as isLast">
                    {{ getValues(row_item)[j] }}
                </td>

            </tr>
        </tbody>
    </table>
</div> <!-- end table -->

<span class="tr-tooltip">
    Edit
    <i class="fa fa-edit" aria-hidden="true"></i>
</span>