.table {
    margin: 20px 0;
}

td, th {
    padding: 10px;
    word-wrap: break-word;
}

th, td, .table {
    border: 0.1px #DCDCDC solid;
}

table, thead, tbody, .table, tbody tr {
    width: 100%;
}

table, tbody {
    background-color: #fff;
}

thead, tbody tr {
    display: table;
    table-layout: fixed; /* even columns width , fix width of table too*/
}

table {
    border-collapse: collapse;
}

thead {
    text-align: left;
}

.table-header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 0px 10px;
    font-weight: bold;
}

tbody {
    display: block;
    overflow-y: scroll;
    max-height: 350px;
}

.table-header i:hover {
    cursor: pointer;
}

tbody tr:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.collapsible {
    display: none;
}

.tr-tooltip {
    z-index:10;
    display:none; 
    padding: 5px 5px;
    border-radius: 3px;
    position: absolute;
    color:#fff;
    border:1px solid #DCDCDC; 
    background:#000;
}