<div *ngIf="isLoaded" id='left-content'>
    <div class="content-header">
        <span class="section-header">Filter by Class-Add(s)</span>
        <i (click)="addFilter()" class="fa fa-plus-circle"></i>
    </div>
    <hr>  
    
    <p *ngIf="filters.length == 0">
        <br>
        No filters added. 
        <br><br> 
    </p>

    <app-item-row 
        *ngFor="let filter of filters; index as i"
        [name]='getFilterName(filter)'
        [attr.filter-index]='i'
        [icon]='itemIcon'
        (click)='removeFilter($event)'>
    </app-item-row>
</div>
<div *ngIf="isLoaded" id='right-content'>
    <span class="section-header">All Jobs</span>
    <hr> 
    <app-job-data-table 
        *ngIf="isJobsLoaded" 
        [jobs]="filtered_jobs"
        (fetchJobs)='fetchMoreJobs($event)'></app-job-data-table>
    <app-page-state 
        *ngIf="!isJobsLoaded" 
        [isLoaded]="isJobsLoaded" 
        [notFound]="jobsNotFound" 
        [serverError]="jobsServerError">
    </app-page-state>
</div>

<app-page-state 
    *ngIf="!isLoaded" 
    [isLoaded]="isLoaded" 
    [notFound]="notFound" 
    [serverError]="serverError">
</app-page-state>
