<div *ngIf="isLoaded" id='left-content'>
    <span class="section-header">Browse Channels</span>
    <hr>  
        <app-item-row 
            *ngFor="let channel of channelNames.data; index as i"
            [name]='channel.display_name'
            [attr.channel]='i'
            (click)='goToChannel($event)'>
        </app-item-row>
</div>
<div *ngIf="isLoaded" id='right-content'>
    <app-channel-data [channel]="selectedChannel"></app-channel-data>
</div>

<app-page-state 
    *ngIf="!isLoaded" 
    [isLoaded]="isLoaded" 
    [notFound]="notFound" 
    [serverError]="serverError">
</app-page-state>
