<div id="modify-modal" class="modal">
    <div class="modal-wrapper">
        <div class="modal-header">
            <span class="modal-title"> {{ title }} </span>
            <span (click)="close()" class="close">&times;</span>
        </div>

        <div class="modal-content">
            <div id="modify-content">
                <div class="modal-section">
                    <div class="modal-field-title">Classad</div>
                    <span 
                        data-edit-key="true" 
                        class="classad-name"
                        *ngIf='!isAddAction'>
                            {{ classad }}
                    </span>
                    <input 
                        (keyup)='clearErrorField($event)'
                        data-edit-key="true" 
                        id="key-input" 
                        placeholder="Key" 
                        type="text"
                        *ngIf='isAddAction'>
                </div>
                
                <div class="modal-section">
                    <div class="modal-field-title">Classad Type</div>
                    <select
                        (change)="clearErrorField($event)" 
                        data-edit-type="true">
                        <option value="">Select...</option>
                        <option value="string">String</option>
                        <option value="integer">Integer</option>
                        <option value="float">Float</option>
                        <option value="boolean">Boolean</option>
                    </select>
                </div>

                <div class="modal-section">
                    <div class="modal-field-title">Classad Value</div>
                    <textarea 
                        (keyup)='clearErrorField($event)'
                        data-edit-value="true" 
                        id="value-input" 
                        placeholder="Value" 
                        [value]="value" 
                        type="text"></textarea>
                </div>

                <div class="modal-footer modal-section">
                    <button class="modal-button" (click)="submitChanges()">Submit</button>
                    <button id="remove-button" class="modal-button" (click)="remove()">Remove</button>
                </div>
            </div>

            <div id="modify-content-validate">
                <p> Are you sure you would like to {{ action }} this classad?</p>
                
                <div class="modal-section">
                    <div class="modal-field-title">ClassAd</div>
                    <span>{{ new_key }}</span>
                </div>
                
                <div class="modal-section">
                    <div class="modal-field-title">Value</div>
                    <div class="modal-value-section">
                        <span>{{ new_value }}</span>
                    </div>
                </div>

                <div class="modal-section">
                    <div class="modal-field-title">Value Type</div>
                    <div class="modal-value-section">
                        <span>{{ new_type }}</span>
                    </div>
                </div>

                <div class="modal-footer modal-section">
                    <button class="modal-button" (click)="sendNewRows()" id="confirm-modal">Confirm</button>
                    <span id="submit-status"></span>
                </div>
            </div>
        </div>
        
    </div>
  
</div>