:root {
    --content-padding: 2%;
}

:host { 
    display: flex;
    flex-direction: column;
    height: 10%;
}

#tabset-wrapper {
    display: flex;
}

.page-tab, #tab-header {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.page-tab  {
    padding-top: 0.3%;
    padding-bottom: 0.2%;
    margin-right: 4px;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
}

.page-tab:hover {
    cursor: pointer;
}

.page-tab.selected-page-tab {
    outline: none;
    -webkit-box-shadow: inset 0px 3px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 3px 5px #c1c1c1;
            box-shadow: inset 0px 3px 5px #c1c1c1;
}

.page-tab:not(.selected-page-tab) {
    border-bottom: none;
}

.page-tab span {
    font-size: 13px;
    font-weight: 700;
}

#tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1.5%;
    height: 50px;
}

#tab-name {
    font-size: 20px;
    font-weight: 700;
}

#search-wrapper {
    display: flex;
    cursor: pointer;
    width: 15%;
}

#search-wrapper input {
    width: 100%;
    padding: 3px 5px;
}

#search-button {
    padding-left: 10px;
}