<div id="tabset-wrapper">
    <div *ngFor="let tab of tab_names; index as i;" 
        class="page-tab content-border bg-color-accent"
        [class.selected-page-tab]= "selected_tab_index == i"
        (click) = "switchTabs($event)"
        [attr.data-tab-index]="i">
        <span>{{ tab }}</span>    
    </div>    
</div>

<div id="tab-header" class="bg-color-accent content-border">
   <span id="tab-name">{{ selected_tab }}</span>
   <div id="search-wrapper">
        <input id="search-input" name="" type="search"/>
        <div id="search-button" (click)="performSearch()">
            <i style='font-size:15px;' class='fa fa-search'></i>
        </div>
   </div>
</div> <!-- end tab header -->


