#modify-content-validate {
    display: none;
}

textarea {
    resize: none;
    height: 150px;
}

span {
    word-wrap:break-word;
}

.modal-value-section {
    display: block;
    overflow-y: scroll;
    max-height: 200px;
}

#submit-status {
    font-style: italic;
    font-size: 12px;
}