<div id="modify-modal" class="modal">
    <div class="modal-wrapper">
        <div class="modal-header">
            <span class="modal-title"> {{ title }} </span>
            <span (click)="close()" class="close">&times;</span>
        </div>

        <div class="modal-content">
            <div id="modify-content">
                <form>
                    <table>
                        <thead>
                            <tr>
                                <th>Parameter Name</th>
                                <th>Parameter Type</th>
                                <th>Parameter Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr valign="top" *ngFor="let column of data.column_names; index as i">
                                <td>{{ column }}</td>
                                <td>
                                    <select
                                        (change)="clearErrorField($event)" 
                                        data-edit-type="true">
                                        <option id="" value="">Select...</option>
                                        <option 
                                            [attr.selected]= "getValueType(data.row[column]) == 'string' ? '' : null"
                                            value="string">String</option>
                                        <option 
                                            [attr.selected] = "getValueType(data.row[column]) == 'integer' ? '' : null"
                                            value="integer">Integer</option>
                                        <option 
                                            [attr.selected] = "getValueType(data.row[column]) == 'float' ? '' : null"
                                            value="float">Float</option>
                                        <option 
                                            [attr.selected] = "getValueType(data.row[column]) == 'boolean' ? '' : null"
                                            value="boolean">Boolean</option>
                                    </select>
                                </td>
                                <td>
                                    <textarea 
                                        (keyup)='clearErrorField($event)'
                                        data-edit-row="true" 
                                        [value]=data.row[column] 
                                        type="text" ></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form> 

                <div class="modal-footer modal-section">
                    <button class="modal-button" (click)="validate()" id="confirm-modal">Submit</button>
                </div>
            </div>

            <div id="modify-content-validate">
                <p> Are you sure you would like to make these changes?</p>
                <table>
                    <thead>
                        <tr>
                            <th>Parameter Name</th>
                            <th>Parameter Type</th>
                            <th>Parameter Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr valign="top" *ngFor="let column of data.column_names; index as i">
                            <td>{{ column }}</td>
                            <td>{{ types[i] }}</td>
                            <td>
                                {{ values[i] }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer modal-section">
                    <button class="modal-button" (click)="sendNewRows()" id="confirm-modal">Confirm</button>
                    <span id="submit-status"></span>
                </div>
            </div>
        </div>
        
    </div>
  
</div>