<!-- <div id="site-wrapper"> -->

  <div id="header" class="content-border">
    <div id="app-graphic-wrapper">
      <img src="../assets/decision-tree.png">
    </div> <!-- end app-graphic-wrapper-->
    <div id="user-info-wrapper">
      <div>     
        <span>Logged in as&nbsp;</span>   
        <span id="user-role">Role Name Here</span>
      </div>

      <div id="logout"><a href="#">LOGOUT</a></div>
    </div> <!-- end user-info-wrapper -->
  </div> <!-- end header -->

  <div id="main-content-wrapper">
    <div id="main-content">
      <div id="nav-wrapper">
          <app-page-tab></app-page-tab>
      </div> <!-- end nav wrapper -->

      <div id='content-wrapper'>
        <div id='left-content'>
          <app-data-table></app-data-table>
        </div> <!-- end left wrapper -->
        <div id='right-content'>
          <app-parameter-selector></app-parameter-selector>

        </div> <!-- end right wrapper -->
      </div> <!-- end content wrapper -->

    </div> <!-- end main content -->
  </div> <!-- end main content wrapper -->

  <div id="footer" class="content-border">
  </div> <!-- end footer -->

<!-- </div>  end site-wrapper -->

<router-outlet></router-outlet>