:host /* #site-wrapper */ { 
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color: C4C4C4;
    width: calc(100% - 5%);
    height: 100px;
    padding: 1% 2.5%;
}

#app-graphic-wrapper {
    width: 300px;
    height: auto;
}

#app-graphic-wrapper img {
    height: 100%;
}

#user-info-wrapper {
    width: 300px;
    height: auto;
    background-color: blueviolet;
}

#main-content-wrapper {
    background-color: C4C4C4;
    height: 100%;
    padding: 1% 2.5%;
}

#main-content { 
    background-color: C4C4C4;
    width: 100%;
    height: 100%;
}

#footer {
    width: calc(100% - 1%);
    height: 50px;
    padding: 0.5%;
    background-color: black;
}