:host { 
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 5%);
    height: 100px;
    padding: 0.5% 2.5%;
    border-bottom: 0 0 inherit 0;
}

#app-graphic-wrapper {
    width: 250px;
    height: auto;
}

#app-graphic-wrapper img {
    height: 100%;
    width: 100%;
}

#user-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    margin-top: 1%;
}

#user-info-wrapper div {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

#user-role {
    font-weight: 700;
}

#main-content-wrapper {
    height: calc(100% - 150px);
    padding: 2% 2.5%;
}

#main-content { 
    width: 100%;
    height: 100%;
}

#content-wrapper {
    display: flex;
    width: 100%;
    height: calc(90% - 1%);
    margin-top: 1.5%;
}

#footer {
    width: calc(100% - 1%);
    height: 50px;
    padding: 0.5%;
    border-top: inherit 0 0 0;
}