<div id="site-wrapper">

  <div id="header">
    <div id="app-graphic-wrapper">
    </div> <!-- end app-graphic-wrapper-->
    <div id="user-info-wrapper">
    </div> <!-- end user-info-wrapper -->
  </div> <!-- end header -->

  <div id="main-content-wrapper">
    <div id="main-content">

      <div id="nav-wrapper">
        <div id="tabset-wrapper">
          <app-page-tab></app-page-tab>
        </div> <!-- end tabset wrapper -->

        <div id="tab-header">
          <span id="tab-name">Tab Name</span>
        </div> <!-- end tab header -->

      </div> <!-- end nav wrapper -->

    </div> <!-- end main content -->
  </div> <!-- end main content wrapper -->

  <div id="footer">
  </div> <!-- end footer -->

</div> <!-- end site-wrapper -->

<router-outlet></router-outlet>