<table>
    <thead>
        <tr>
            <!--<th *ngFor="let column of column_names"> {{ column }}</th>-->
            <th>ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let job of jobs.data"
            (click)="goToJob(job)">
            <td *ngFor="let column of column_names; index as i; last as isLast">
                
                {{ job[column] }}

                <i *ngIf="isLast" class="fa fa-angle-right"></i>

            </td>
        </tr>
    </tbody>
</table>
