<table>
    <thead>
        <tr>
            <th *ngFor="let column of column_names">{{ column }}</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let classad of job_keys"
            (mousemove)="positionTooltip($event)"
            (mouseleave)="removeTooltip()"
            (click)="editRow(classad)">
            <td>
                {{ classad }}
            </td>
            <td>
                {{ job[classad] }}
            </td>
        </tr>
    </tbody>
</table>

<span class="tr-tooltip">
    Edit
    <i class="fa fa-edit" aria-hidden="true"></i>
</span>