<div id="filter-modal" class="modal">
    <div class="modal-wrapper">
        <div class="modal-header">
            <span class="modal-title">Add Job Filter</span>
            <span class="close">&times;</span>
        </div>

        <div class="modal-content">
            <div class="modal-section">
                <div class="modal-field-title">Select Filter</div>
                <select name="filter-dropdown">
                    <option value="Data Structures" selected>Data Structures</option>
                    <option value="Data Mining">Data Mining</option>
                 </select>
            </div>
            <div class="modal-section">
                <div class="modal-field-title">Filter Value</div>
                <input value="Parameter Value" type="text">
            </div>
    
            <div class="modal-footer modal-section">
                <button id="confirm-modal">Add Filter</button>
            </div>

        </div>
        
    </div>
  
</div>