:root {
    --content-margin: 2%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

#right-content {
    width: calc(75% - 1.5%);
    height: 100%;
}

#left-content {
    width: 25%;
    height: 100%;
    margin-right: 1.5%;
}

.bg-color-accent {
    background-color: #E8E8E8;
}

.content-border {
    border: 0.1px #DCDCDC solid;
}

button:hover {
    cursor: pointer;
}

app-item-row {
    background-color: #fff;
}

app-item-row:first-child {
    margin-top: 20px;
}

app-item-row:last-child {
    border-bottom: 0.1px #DCDCDC solid;
}

